[mysqld]

user			= mysql
datadir			= /var/lib/mysql
pid-file		= /run/mysqld/mysqld.pid
socket			= /run/mysqld/mysql.sock
bind-address	= 0.0.0.0
port			= 3306

# extra defaults for small VMs
skip-name-resolve				#skips DNS lookups for clients
innodb_buffer_pool_size=128M	#smaller RAM footprint
max_connections=50

[client]
socket			= /run/mysqld/mysql.sock